body{
    padding: 0;
    margin: 0;
    font-family: "Adobe Arabic";
    font-size: 25px;
}

.steps{
    margin: 20% auto;
    width: 400px;
    height:250px;
    position: relative;
}

.steps div{
    display: none;
    width: 400px;
    height: 250px;
    box-shadow: 0px 0px 20px 0px #0f0f0f;
    background-color: beige;
    margin:0 auto;
}

.steps #buttons{
    display: block;
    box-shadow: 0 0 0 0 #fff;
    height: 50px;
    width: 100%;
    position: absolute;
    top:200px;
}

.steps #buttons button{
    margin:10px;
    float: right;
}